<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of sideNavMenu">
        <a mat-list-item routerLink="{{item.url}}" routerLinkActive="active" *ngIf="item.isShown">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <h4 mat-line>{{item.name|translate}}</h4>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Application Title</span>
      <button class="btn-logout" mat-raised-button color='warn' (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        {{'LOGOUT'|translate}}
      </button>
    </mat-toolbar>
    <div class="main-contant">
      <div class="dashboard-container-spinner" fxLayoutAlign="center center" *ngIf="showDashboardLoader$|async">
        <div class="spinner-container" fxLayout="row">
          <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [strokeWidth]="5" [diameter]="50">
          </mat-progress-spinner>
          <h3>{{'LOADING'|translate}}</h3>
        </div>
      </div>
      <div *ngIf="!hidePageTitle">
        <h1 class="dashboard-page-title">
          <b>{{pageTitle}}</b>
        </h1>
      </div>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>