<div class="search-root">
  <form action="" (ngSubmit)="onSearchSubmit(iptSearch.value)">
    <mat-form-field>
      <input #iptSearch matInput placeholder="{{label}}" [disabled]="disabled" (input)="checkIfClear(iptSearch.value)">      
      <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchSubmit(iptSearch.value)">
        <mat-icon>search</mat-icon>
      </button>
      <button type="button" mat-button *ngIf="iptSearch.value" matSuffix mat-icon-button aria-label="Clear" (click)="iptSearch.value=''; onClearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>