<h1 mat-dialog-title class="">
    {{data.title}}
</h1>

<mat-dialog-content>    
        <app-dynamic-form class="efm-form" [name]="data.formName" [questions]="data.formQuestions" (onSubmit)="onFormSubmit($event)" [parentSubmit]="'true'"></app-dynamic-form>
</mat-dialog-content>

<mat-dialog-actions>
    <!-- form attribute isn't supproted bby IE11, no need for now :) -->
    <button mat-button type="submit" [attr.form]="data.formName">{{'SAVE'|translate}}</button>
    <button mat-button (click)="closeDialog()">{{'CANCEL'|translate}}</button>
</mat-dialog-actions>